on init
    chown system system /sys/devices/platform/soc/soc:xiaomi_keyboard/xiaomi_keyboard_conn_status
    chmod 0664 /sys/devices/platform/soc/soc:xiaomi_keyboard/xiaomi_keyboard_conn_status

service hw-hal-aidl /system/bin/custom.hardware.hwcontrol-service
    class hal
    user root
    group root