#
# Copyright (C) 2023 Harshit Jain <dev-harsh1998@hotmail.com>
#
# SPDX-License-Identifier: Apache-2.0
#

on init
    chown system system /sys/devices/platform/soc/soc:xiaomi_keyboard/xiaomi_keyboard_conn_status
    chmod 0664 /sys/devices/platform/soc/soc:xiaomi_keyboard/xiaomi_keyboard_conn_status
    chown system system /dev/xiaomi-touch
    chmod 0660 /dev/xiaomi-touch

service hw-hal-aidl /system/bin/custom.hardware.hwcontrol-service
    class hal
    user system
    group system input uhid 